<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>File Structure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Search from File Structure</h1>
<form action="#" th:action="@{/search-file}" th:object="${search}" method="post">
    <p>Search Keyword: <input type="text" th:field="*{keyword}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<div th:if="${not #lists.isEmpty(searchResult)}">
    <div th:each="path : ${searchResult}">
        <span th:text="${path}" />
    </div>
</div>
</body>
</html>